
<div class="row">
  <!-- [ basic-table ] start -->
  <div class="col-md-10 offset-1">
    <app-card cardTitle="Basic Table" blockClass="table-border-style">
      <div class="table-responsive">
        <div *ngIf="isDataReady === true">
          <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Body</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts">
              <td>{{ post.id }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.body }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>


